body {
    font-family: 'Arial', sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    background: #1B1B1B;
    color: #E0E0E0;
}

header {
    background: #222222;
    color: #E0E0E0;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5px;
    margin: 0;
    font-weight: bold;
    color: #FFBC00;
}

nav ul {
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}


nav ul li a {
    color: #E0E0E0;
    font-size: 1;
    letter-spacing: 1px;
    background-color: rgb(65, 61, 59);
    padding: 10px;
    border-radius: 1000px;
}

nav ul li a:hover {
    color: #FFBC00;
}

section {
    padding: 40px 20px;
    margin: 20px 0;
    border-radius: 10px;
}

#secao1 {
    background: #4A5D23;
    
}

#secao2 {
    background: #333333;
}

#secao3 {
    background: #565656;
    color: #E0E0E0;
}

#secao4 {
    background: #7D7D7D; 
}

footer {
    text-align: center;
    padding: 20px;
    background: #222222;
    color: #E0E0E0;
    position: relative;
    font-size: 1.1px;
}

a {
    text-decoration: none;
    color: #FFBC00; 
}

a:hover {
    color: #FF9C00;
}

