body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;

}

.site {
    background-color: #1E2A16;
}

header {
    background-color: #658cc3;
    color: #E0E0E0;
    padding: 20px 0;
    text-align: center;
}

section {
    background-color: #2c2c2c;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#secao1 {
    background: #1E2A16;
    color: #E0E0E0;
}

#secao2 {
    background: #2D2D2D;
    color: #E0E0E0;
}

#secao3 {
    background: #3C3C3C;
    color: #E0E0E0;
}

#secao4 {
    background: #4A5D23;
    color: #E0E0E0;
}
.card{
    background-color: #4A5D23;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: none;
    
}
.card:hover{
    transform: scale(1.05);
}

.card-body{
    background-color: #545454;  
    border-color: black;
    padding: 20px;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: auto;

}

.btn-btn-primary{
    background-color: #4A5D23;
    color: #E0E0E0;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
}

.btn-btn-primary:hover {
    background-color: #3a4a1a;
    color: #FFD700;
}

footer {
    background-color: #161B22;
    font-size: 1rem;
    padding: 20px 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #ffd700;
}

a:hover {
    color: #ffa500;
}

.navbar {
    border-bottom: 2px solid #ffd700;
}

.carousel {
    border: 2px solid #ffd700;
    border-radius: 10px;
}
nav{
    background-color: #0D1117;
}

nav ul {
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #4A5D23;
    padding: 10px;
    border-radius: 100px;
}

nav ul li a:hover {
    color: #FFD700;
}


.navbar {
    background-color: #0D1117 ;
}

.navbar-brand {
    color: #FFD700 ;
}

.nav-link {
    color: #E0E0E0 ;
}

.nav-link:hover {
    color: #FFD700 ;
}

#secao6{
    text-align: center;
}