body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #68a4e0;
}

nav {
    background: #5e00f5;
    text-align: center;
}

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li{
    background-color: #5b30d377;
    position: relative;
    text-align: center;
}

.menu li a{
    display: block;
    padding: 20px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu li a:hover {
    background-color: #5a00eb;
}

.submenu{
    display: none;
    position: absolute;
    background-color: rgb(214, 9, 9);
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.menu li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 10px 15px;
}

.submenu li a:hover {
    background-color: #0f78e0;
}

ul {
    color: #9AA6B2;
    background-color: #6d21e9;
    
}